body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17x;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-color {
  color: var(--iris, #4d5ae5);
}

.header-menu-link {
  color: var(--navyblue, #2e2f42);

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero {
  background-color: var(--navyblue, #2e2f42);
}
.hero-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02;
}
.hero-button {
  color: var(--white, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04; /* 0.64px/16 */
}

.Peculiarities-list {
}

.Peculiarities-item {
}
.Peculiarities-name {
}
.Peculiarities-text {
}
